openapi: 3.0.3
info:
  title: Cards API
  version: 1.0.0
  description: Retrieve and block debit/credit cards.
servers:
  - url: https://api.example-bank.com/cards/v1
security:
  - bearerAuth: []
tags:
  - name: Cards
paths:
  /cards/{cardId}:
    get:
      tags: [Cards]
      operationId: getCard
      summary: Get card details (PAN masked)
      parameters:
        - $ref: '#/components/parameters/CardId'
      responses:
        '200':
          description: Card found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Card'
        '404':
          $ref: '#/components/responses/NotFound'
  /cards/{cardId}/block:
    post:
      tags: [Cards]
      operationId: blockCard
      summary: Block a card
      parameters:
        - $ref: '#/components/parameters/CardId'
      responses:
        '200':
          description: Card blocked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Card'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  parameters:
    CardId:
      name: cardId
      in: path
      required: true
      schema:
        type: string
  responses:
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Card:
      type: object
      required: [cardId, maskedPan, status, cardType]
      properties:
        cardId:
          type: string
        maskedPan:
          type: string
          pattern: '^[0-9]{4} \*{4} \*{4} [0-9]{4}$'
          example: '4111 **** **** 1111'
        cardType:
          type: string
          enum: [DEBIT, CREDIT]
        status:
          type: string
          enum: [ACTIVE, BLOCKED, EXPIRED]
        expiry:
          type: string
          pattern: '^(0[1-9]|1[0-2])/[0-9]{2}$'
    Error:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
        message:
          type: string
